.container {
  padding: 50px 30px;
}

.research-year {
    padding: 20px 0;
}

.research-year h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  color: var(--color-three);
}

.research-item strong {
  font-size: 1.25rem;
}

.research-item p {
  font-size: 1.15rem;
  color: var(--color-three);
}