.container {
  padding: 50px 30px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: transparent;
  border: 1px solid var(--color-three);
  border-radius: 1rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-title {
  font-size: 1.25rem;
  color: var(--color-three);
}

.card-text {
  font-size: 1rem;
  color: var(--color-three);
}
