/* :root {
  --color-one: #4169e1;
  --color-two: #fff700;
  --color-three: #fffff0;
  --color-four: #fcfac2;
  --color-five: #495057;
  --color-six: #6c757d;
} */

:root {
  --color-one: #402a2e;
  --color-two: #a69497;
  --color-three: #fffff0;
  --color-four: #c7b6b9;
  --color-five: #403c01;
  --color-six: #733702;
  --color-seven: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

main {
  margin-top: 74px;
}

.main-container {
  background-color: var(--color-seven);
}

body {
  max-width: 1500px;
  margin-inline: auto;
  background-color: var(--color-seven);
}

html {
  scroll-behavior: smooth;
}

/* prevent text selection */
body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* disable overscrolling */
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome and Safari */
}

/* fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

p {
  font-family: "Source Sans 3", sans-serif;
}

body {
  font-family: "Source Sans 3", sans-serif; /* For any text not explicitly defined */
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-nav .nav-link {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
}

.navbar-toggler {
  border-color: var(--color-one);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%234169E1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  font-size: 1.5rem;
}

.dropdown-menu {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
}

.footer-header {
  font-size: 2rem;
}

.footer-text {
  font-size: 1.25rem;
}

.footer-text a {
  font-size: 1.25rem;
}

#footer-btm p {
  font-size: 1.1rem;
}

/* Navbar */

.navbar {
  background-color: var(--color-seven);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: var(--color-three);
}

.navbar-brand:hover {
  color: var(--color-four);
}

.nav-link {
  margin-right: 1rem;
  color: var(--color-three);
}

.nav-link:hover {
  background-color: var(--color-one);
  color: var(--color-three);
}

.dropdown-menu {
  background-color: var(--color-seven);
  margin-top: 10px;
}

.dropdown-item {
  color: var(--color-three);
}

.dropdown-item:hover {
  background-color: var(--color-one);
  color: var(--color-three);
}

/* Banner */

.banner {
  background-image: url(../images/banner.jpg);
  color: var(--color-three);
  background-size: cover;
  padding: 80px 50px;
}

.banner h1 {
  font-size: 3rem;
}

/* Welcome Section */

#welcome {
  position: relative;
  background-image: url(../images/UNH\ BG.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

#welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 29, 2, 0.65);
  z-index: 1;
}

#welcome * {
  position: relative;
  z-index: 2;
}

#welcome h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: var(--color-three);
}

#welcome p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-three);
}

/* Ongoing Projects */

#ongoing-project-head {
  padding: 80px 0;
}

.ongoing-projects-container {
  padding: 0 80px;
  text-align: justify;
}

#ongoing-project-head h1 {
  color: var(--color-three);
  font-size: 3rem;
}

.ongoing-projects {
  background-color: var(--color-seven);
}

.ongoing-projects-container h3 {
  text-align: left;
  color: var(--color-three);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.ongoing-projects-container p {
  color: var(--color-three);
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.ongoing-projects-img {
  width: 100%;
  filter: invert(1) brightness(2);
}

.ongoing-projects {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
}

/* News section */

.news-section {
  background-color: var(--color-three);
  padding: 20px;
  border-radius: 8px;
  color: var(--color-seven);
}

.news-section h2 {
  color: var(--color-seven);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.news-item {
  margin-bottom: 20px;
}

.news-item h4 {
  font-size: 1.8rem;
  color: var(--color-seven);
}

.news-item p {
  font-size: 1.2rem;
  color: var(--color-seven);
}

/* footer */

footer {
  background-color: var(--color-one);
}

.footer-header {
  color: var(--color-two);
}

.footer-text {
  color: var(--color-three);
}

.footer-text a {
  color: var(--color-three);
  transition: 0.3s ease;
}

.footer-text a:hover {
  color: var(--color-two);
}

footer h5 {
  margin-bottom: 1rem;
}

footer p,
footer a {
  font-size: 1rem;
}

.social-icon {
  width: 20px;
  filter: invert(100%);
}

.social-link {
  text-decoration: none !important;
}

.social-icon {
  transition: filter 0.3s; /* Smooth transition */
}

.social-link:hover .social-icon {
  filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(45deg)
    brightness(80%);
}

#footer-unh-banner {
  width: 75%;
  margin-top: 10px;
  filter: brightness(0) invert(1);
  pointer-events: none;
}

#footer-btm {
  background-color: var(--color-seven);
  color: var(--color-three);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #welcome h1 {
    font-size: 2.25rem;
  }

  #welcome p {
    font-size: 1.1rem;
  }

  .nav-link:hover:before {
    content: "\00a0\00a0";
  }

  .ongoing-projects-container {
    padding: 0 40px;
  }

  .ongoing-projects-container h3 {
    font-size: 1.9rem;
  }

  .ongoing-projects-container p {
    font-size: 1.3rem;
  }

  .news-item h4 {
    font-size: 1.2rem;
    color: var(--color-seven);
  }

  .news-item p {
    font-size: 1rem;
  }
}

@media (max-width: 767.98px) {
  main {
    margin-top: 62px;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .dropdown-menu {
    font-size: 1rem;
  }

  .banner {
    padding: 50px 30px;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .carousel-item img {
    height: 300px; /* Reduced height for smaller screens */
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  #welcome {
    padding: 5rem 0;
  }

  #welcome h1 {
    font-size: 2rem;
  }

  #welcome p {
    font-size: 1rem;
    text-align: justify;
  }

  #ongoing-project-head {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  #ongoing-project-head h1 {
    font-size: 2.5rem;
  }

  .ongoing-projects-container {
    padding: 0 20px;
  }

  .ongoing-projects-container h3 {
    font-size: 1.8rem;
  }

  .ongoing-projects-container p {
    font-size: 1.2rem;
  }

  .ongoing-projects-img {
    margin-top: 20px;
    max-width: 200px;
  }

  .footer-section {
    margin-bottom: 2rem;
  }

  .footer-header {
    font-size: 1.5rem;
  }

  #footer-btm p {
    font-size: 0.8rem;
  }

  .nav-link:hover:before {
    content: "\00a0\00a0";
  }
}
