.name {
  color: var(--color-three);
}

.profile-text {
  color: var(--color-three);
}

.team-section h2 {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  color: var(--color-three) !important;
}

.team-section h4 {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--color-three);
}

.team-section p {
  color: var(--color-two);
}

@media (max-width: 767.98px) {
  .container {
    padding: 15px;
  }

  .team-section h2 {
    font-size: 1.5rem;
  }

  .team-section h4 {
    font-size: 1rem;
  }

  .team-member {
    padding-bottom: 30px;
  }

  .team-member-img {
    max-width: 400px;
  }


}


@media (max-width: 500px) {
  .team-member-img {
    max-width: 250px;
  }

}